[2021-02-08 17:09] raymondlo84 opened #27 "[ARM Plugin] Native Compile - Apple M1 Compile Error..."
I believe we cannot use gcc '-march=armv7-a' in Apple arm compiler? I assume apple gcc (arm64) is not supported?

`[ 59%] Built target armPlugin_cpplint
Scanning dependencies of target cpplint_all
[ 59%] Built target cpplint_all
Scanning dependencies of target arm_compute_static_libs
[ 60%] Build Arm Compute Library
scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: B

[2021-02-08 18:25] raymondlo84 opened #28 "[ARM plugin] Docker build may fail if RAM allocation is not increased accordingly"
One issue I kept hitting is the OpenVINO compilation fails if we do not provide enough memory for the docker environment. The issue is we are running "make -j" according to the number of available CPUs, and that is dangerous because it can easily throw off the RAM usage.

***
Approach #1: build OpenCV, OpenVINO and the plugin using pre-configured Dockerfile (cross-compiling, the preferred way)
***

[2021-02-09 11:50] ilya-lavrenov commented on #27
Hi @raymondlo84

The failures is in ARM compute build. Could you please try to open `modules/arm_plugin/thirdparty/ComputeLibrary/SConstruct` and fix the line

[code]
Not to pass `-march=armv7-a` option (and maybe others as well) and check whether it helps?

[2021-02-09 12:25] dkurt opened #29 "[MO] Investigate failed tests"
* test_inception_v3
* test_detectron2_retinanet (see https://dev.azure.com/openvinoci/dldt/_build/results?buildId=45502&view=logs&j=39ba20d1-f788-5238-0ffe-f3b53558ade2&t=4e01243e-45f0-557b-f38e-ffbccb94940c&l=1022)
[code]

[2021-02-18 09:20] #29 closed

[2021-02-18 13:41] terfendail commented on #28
The issue addressed by PR #48

[2021-02-19 19:22] alvoron commented on #28
@raymondlo84 Environment variable `BUILD_JOBS ` has been added to control the number of jobs.

[2021-02-19 19:22] #28 closed

[2021-03-18 10:31] #27 closed

[2021-03-24 12:02] azhogov opened #95 "Java tests cannot start on Mac: Could not find OpenVinoTestRunner"
Java tests cannot start on Mac
"Error: Could not find or load main class OpenVinoTestRunner"

See logs for details:
https://dev.azure.com/openvinoci/dldt/_build/results?buildId=61614&view=logs&j=a82d9e72-1de4-5bd6-c188-90296135479e&t=e36b0236-8854-50ba-7e69-658d6b092df0

[2021-03-24 12:05] dkurt commented on #95
related: https://github.com/openvinotoolkit/openvino_contrib/pull/18

[2021-03-24 13:59] #95 closed

[2021-03-25 06:10] dkurt opened #101 "Strange Mac build"
https://dev.azure.com/openvinoci/dldt/_build/results?buildId=62073&view=logs&j=a82d9e72-1de4-5bd6-c188-90296135479e&t=a830fa9d-d9f0-58fd-7bcf-dc112343c892

Despite it's Mac build, logs show that libraries have `.so` extension but not `.dylib`:
[code]

[2021-03-25 09:29] ilya-lavrenov commented on #101
@dkurt it's OK. See https://stackoverflow.com/questions/2339679/what-are-the-differences-between-so-and-dylib-on-macos#:~:text=so%20is%20not%20a%20UNIX,to%20be%20a%20common%20one.&text=Basically%20.,to%20indicate%20a%20shared%20lib.

- `.dylib` are usual dynamic libraries
- `.so` are plugins

[2021-03-25 10:31] dkurt commented on #101
@ilya-lavrenov, Am I right that it has been changes somewhere between 2021.2 and 2021.3 releases? I see that 2021.2 had `.dylib` extensions for the plugins (at least https://files.pythonhosted.org/packages/a5/ba/bafc1fd0c24d32e2fd74700edfd027e3651494ccb90abb9f16ec463ef23c/openvino-2021.2-170-cp37-cp37m-macosx_10_15_x86_64.whl).

[2021-03-25 10:33] ilya-lavrenov commented on #101
Yes. It was requested by @alalek

[2021-03-25 11:23] alalek commented on #101
@dkurt See details in the ticket 17956

[2021-04-16 13:16] #101 closed

[2021-05-12 10:35] dkurt opened #132 "[Java] Fix failed test"
[code]
source: https://dev.azure.com/openvinoci/dldt/_build/results?buildId=87114&view=logs&j=0609cd82-f9f7-5e70-371c-89fca78031ab&t=0971f6e8-539b-5170-a800-5a6fa6f3c74b

[2021-05-12 16:28] likholat commented on #132
Layers were changed:
| Name before  | Name now |
| ------------- | ------------- |
| 19/Fused_Add_  | Content Cell  |
| 21  | Content Cell  |
| 21  | Content Cell  |
| 21  | Content Cell  |
| 21  | Content Cell  |
| 21  | Content Cell  |

("19/Fused_Add_");
        layer_name.add("21");
        layer_name.add("22");
        layer_name.add("23");
        layer_name.add("24/Fused_Add_");
        lay

[2021-05-20 09:30] alvoron commented on #132
@dkurt  @likholat are we going to align the test with the modified network? Or other actions are required here?

[2021-05-20 09:43] dkurt commented on #132
For now test is disabled. Well, it's better to check only API but relax the requirements to pass the test.

[2021-05-27 11:30] alvoron commented on #132
@dkurt is it supposed that @likholat will change the test? Or somebody else needs to update it?

[2021-05-27 15:20] dkurt commented on #132
@likholat, please enable the test with the relaxed check

[2021-06-04 07:15] #132 closed

[2021-07-07 13:40] tarunmcom opened #173 "error with MYRIAD:- https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/arm_plugin/README.md"
https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/arm_plugin/README.md
The link helped me in setting up openvino on Pi and infrencing on pi -CPU using inference engine, however MYRIAD is not working. Any intructions so that I can use CPU and MYRIAD both.

[2021-07-10 23:01] okih opened #175 "[ ERROR ] std::bad_cast in benchmark_app sample with arm plugin in 2021.4"
It seems "std::bad_cast" occurs when calling ie.GetConfig(ds.first, key).as<std::string>() for key value "CPU_THROUGHPUT_STREAMS".

platform: Raspberry Pi 4, utuntu 18.04 64bit
version: openvino 2021.4

P.S
ie.GetConfig(device, configKey) in hello_query_deive sample works without error in 2021.4.
It aborts in 2021.3.

<< 2021.4 >>
Available devices:
CPU
        SUPPORTED_METRICS:
                A

[2021-07-12 19:11] terfendail commented on #173
Could you please share command line you use for inference on MYRIAD?
Have you tried [this](https://docs.openvinotoolkit.org/latest/openvino_docs_install_guides_installing_openvino_raspbian.html#add-usb-rules) setup guideline?

[2021-07-15 09:57] alvoron commented on #175
@okih thank you for raising the issue.
I reproduced it, indeed, bad_cast occurs on `ie.GetConfig` operation. To workaround the issue you can change the cast, the following one works to me: `std::to_string(ie.GetConfig(ds.first, key).as<int>())`
I'll contact IE sample authors to decide how to fix it accurately.
Please let me know whether provided workaround works to you or not.

[2021-07-15 11:26] okih commented on #175
Thank you for reply,
I confirmed changing the cast fixed the issue with armPlugin.  Obviously it causes bad_cast with MKLDNNPlugin  - CPU plugin on x86_64 platform.
I suppose there would be some incompatibility of KEY type declaration between armPlugin and the x86_64 CPU plugin. I hope I can use them in a same manner.
Best Regards,

[2021-07-24 02:13] okih opened #180 "[arm plugin] "make install" does not copy libarmPlugin.so from build directory bin/<arch>/Release/lib/ to install target directory $CMAKE_INSTALL_PREFIX/deployment_tools/inference_engine/lib/<arch>/"
After building with "cmake  -D CMAKE_BUILD_TYPE=Release  -D CMAKE_INSTALL_PREFIX=somewhere <<snipped>> -D IE_EXTRA_MODULES=../../openvino_contrib/modules  .. " and "make" , "make install" does not copy libarmPlugin.so from build directory bin/armv7l/Release/lib/ to install target directory somewhere/deployment_tools/inference_engine/lib/armv7l/ .

So https://storage.openvinotoolkit.org/repositorie

[2021-07-27 09:47] alvoron commented on #180
@okih thank you for raising the issue!

Intel Distribution of OpenVINO does not contain ARM CPU Plugin, the plugin is distributed via source codes only.
So, it's expected that there is no `libarmPlugin.so` in `l_openvino_toolkit_runtime_raspbian_p_2021.4.582.tgz`

However, we have an issue with `make install` - indeed it does not copy `libarmPlugin.so` to `lib/armv7l` folder. This issue is being d

[2021-07-27 09:52] alvoron commented on #173
@tarunmcom no response from you for a while - did you solve the issue? If no, could you please answer to `terfendail` questions?

[2021-07-28 07:45] alvoron commented on #175
The following changes will solve cast issue:
https://github.com/openvinotoolkit/openvino_contrib/pull/181
https://github.com/openvinotoolkit/openvino/pull/6830

[2021-07-28 08:27] okih commented on #180
Thank you for reply.

Regarding the raspbian runtime package in the toolkit storage I had supposed it had been built as including arm plugin, since plugin.xml had had "name CPU" definition.
I confirmed that plugin.xml had armPlugin line in ether way building with "-D IE_EXTRA_MODULES" option or without it.
I applogize my misunderstanding.

I copied libarmPlugin.so manually to the target directory

[2021-07-30 11:09] alvoron commented on #180
`make install` command should works fine on master branch.
Fix has been implemented on OpenVINO side: https://github.com/openvinotoolkit/openvino/pull/6861
ARM CPU plugin single build script will be updated too: https://github.com/openvinotoolkit/openvino_contrib/pull/182

[2021-08-04 16:44] alvoron commented on #175
@okih both PRs are merged to master, the issue should be resolved.
Please reopen the issue if it is still reproducible.

[2021-08-04 16:44] #175 closed

[2021-08-13 16:05] alvoron commented on #180
@okih did you have a chance to check `make install` command?
If so and you don't observe any issues - are you OK to close this issue?

[2021-08-15 19:54] okih commented on #180
Hi alvoron,
Sorry for my late reply.
I have confirmed that "make install" works as expected. Please close this issue.
Best Regards,

[2021-08-16 07:46] #180 closed

[2021-09-06 08:53] dkurt opened #199 "Avoid origin PyTorch calls when convert the model"
At this moment, model conversion registers functional callbacks to create a model:
[code]
However it requires more time and memory. Especially with large input resolution.

Task is to remove original PyTorch methods calls. It will probably require more graceful Reshape/Resize and other shape based methods management.

[2021-09-08 22:51] zhaoxuejun1234 opened #203 "FPS on the raspberry pi 4"
I finished the build process for Ubuntu 18.04 and proceeded a object detection inference. The average inference latency is 328ms. But the average inference latency on a intel 2.6G Hz CPU is around 20ms. Is this normal? What can I do to improve it?

[2021-09-10 10:10] dkurt opened #205 "pip packaging of PyTorch->IR conversion module"
* Investigate how to release the conversion module among with base MO package

[2021-09-10 13:21] #199 closed

[2021-09-13 19:57] alvoron commented on #203
@zhaoxuejun1234 thank you for testing the plugin!
what network do you use? can you share your demo sample?

[2021-09-14 07:22] zhaoxuejun1234 commented on #203
I used an object detection model named nanodet,which can be found on https://github.com/RangiLyu/nanodet. I just added codes for getting the inference time. The demo could be modified and shared if you are interested.

[2021-09-19 11:51] alvoron commented on #203
@zhaoxuejun1234 if you don't mind could you please share exact your sample so we would be able to compare results?

[2021-10-13 12:18] dkurt opened #219 "[PyTorch] Reshapeable ruGPT-3"
Model can be converted for any input length but cannot be reshaped in runtime

[2021-10-13 12:19] dkurt opened #220 "OV Java API 2.0"
Create bindings for new API: https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/src/inference_engine/include/openvino/runtime/

[2021-11-12 18:51] #203 closed

[2021-12-02 13:13] dkurt opened #247 "Try dynamism for Mask R-CNN"
Entire model efficiency depends on number of proposals and detections selected at RPN. Currently, we work with fixed number of boxes (1000 proposals, 100 detections by default). Check if dynamic output from DetectionOutput which supported since https://github.com/openvinotoolkit/openvino/pull/8576 improves efficiency.

[2021-12-04 00:08] tersekmatija opened #249 "'OpenVINOTensor' object has no attribute 'is_floating_point'"
Hey,
I am getting this error:
[code]
when trying to run the following code:
[code]

I am using the latest 2021.4.2 LTS version of OpenVINO and I've added the mo_pytorch model to the PYTHONPATH.

[2021-12-04 06:39] dkurt commented on #249
Hi! Can you please specify which versions of PyTorch and Torchvision are used? We tested woth torch==1.7.0 and torchvision==0.8.1

[2021-12-04 14:33] tersekmatija commented on #249
Hey, I tried with torch==1.8.2 and torchvision==0.9.2. I downgraded the versions now and it worked, thanks!
Seems that with higher versions the export is not supported.

[2021-12-04 15:11] dkurt commented on #249
@tersekmatija, thanks for the details, I will open a pull request with a fix and let you know.

[2021-12-06 11:41] dkurt commented on #249
Fix is here: https://github.com/openvinotoolkit/openvino_contrib/pull/217

[2021-12-07 11:55] tersekmatija opened #253 "Mask-RCNN outputs"
Hey,

I've managed to convert the Mask-RCNN, but I am having some issues understanding the outputs as they differ from the torchvision model.

Current outputs are: [DetectionOutput_647', 'Sigmoid_733', 'TopK_.0']. With `box_detections_per_img=25` and `rpn_post_nms_top_n_test=100`, their shapes are `(1, 1, 25, 7)`, `(25, 91, 28, 28)`, and `(100,)`, respectively.

As far as I could understand, the D

[2021-12-07 14:39] dkurt commented on #253
Hi! Sorry for confusion. Will add a code example with output parsing.

In short words, boxes output is `[batch_id, class_number, probability, left, top, right, bottom]` where coordinates are relative and should be multiplied to image shape. Masks output is `[box, class_id, height, width]` and contains masks probabilities for every class. So when you parse detections, get a corresponding class mask

[2021-12-07 18:29] tersekmatija commented on #253
Okay, thanks @dkurt ! I assumed so. One more question. I've noticed that when obtaining the segmentation mask, I have to use the index that is equal to the class label. So, Mask R-CNN pretrained on COCO has 91 classes. And the mask outputs second axis has length 91. I'd assume that for person (class 1) I'd have to access [box, **0**, :, :], so the index of the mask would be `class - 1`. That way c

[2021-12-08 07:36] #249 closed

[2021-12-08 15:23] alvoron opened #257 "[MO] No module named 'mo' on pytorch convertion tests"
@dkurt @likholat could you please fix it?

[code]
https://dev.azure.com/openvinoci/dldt/_build/results?buildId=226371&view=logs&j=9df09860-c2bf-529a-b3cd-66c2937309a0&t=ec4ea673-ce77-5db0-f201-368afd76cfd5&l=224

[2021-12-08 20:27] dkurt commented on #257
Fix is here: #258

[2021-12-09 09:30] #257 closed

[2021-12-14 10:43] tersekmatija commented on #253
Have you managed to check this @dkurt ?

[2021-12-14 10:44] dkurt commented on #253
@tersekmatija, sorry for delayed response. Will take a look on this today.

[2021-12-15 06:57] dkurt commented on #253
@tersekmatija, Please check a sample from https://github.com/openvinotoolkit/openvino_contrib/pull/266

The classes start from `__background__` so for public model `person` has class id 1. No need for subtraction. Maybe your private model has different classes annotation? If you don't have a background class at 0th position, can you manually modify `.xml` file and replace `background_label_id="0"`

[2021-12-15 11:43] tersekmatija commented on #253
Hey @dkurt ,

thanks for the example! I was parsing the outputs the same way (so person on index `1`, and I ignore index `0`). And I used the default model from torchvision, so my demo was correct. 😄

What I was confused with is that the torchvision model is pre-trained on 91 classes (person - hair brush), where as the outputs of the OpenVINO model have only 90 classes by that parsing logic (`back

[2021-12-15 12:07] dkurt commented on #253
@tersekmatija, Do you mean `toothbrush`? Now OpenVINO predicts all 91 classes (background + 90). There are 90 real classes, not 91. Masks tensor shape is `100x91x298x28`. Maybe I misunderstood your question?

<img src="https://user-images.githubusercontent.com/25801568/146183585-066b97a9-cc23-4885-975b-60d6dad53318.png" width="256">

[2021-12-15 15:27] tersekmatija commented on #253
You understood correctly @dkurt , but we seem to be confused on the number of total classes. I thought that 91 classes means 91 actual classes (like here: https://github.com/amikelive/coco-labels/blob/master/coco-labels-paper.txt) + 1 class background. Seems that the toothbrush is actually the last class then, and that hair brush was removed from the COCO.

[2021-12-17 09:09] dkurt opened #269 "Failed Windows build"
Failed "Install dependencies" step. Example: https://dev.azure.com/openvinoci/dldt/_build/results?buildId=234614&view=logs&j=4c86bc1b-1091-5192-4404-c74dfaad23e7&t=d216f1e9-c2b5-54b5-eceb-b0e7ea6b3dcc
[code]

/cc @azhogov

[2021-12-20 14:14] jsiebert opened #271 "Converted Mask-RCNN model trained on custom dataset does not return any meaningful detections"
Hey there,

based on the Mask-RCNN example provided by @dkurt I tried to convert my own model which is based on Mask-RCNN with a ResNet50 backbone but trained on a custom dataset. Converting the model to IR works but when running the inference, the model doesn't return any meaningful detections.

I'm working with OpenVINO 2021.4 on Ubuntu 20.04 (x64), torch 1.10.0, torchvision 0.11.1, mo_pytorch c

[2021-12-20 14:26] dkurt commented on #271
Hi!

First of all, please check if you training dataset has background as 0th class. If not, can you try to change `background_label_id="0"` to `background_label_id="2"`

[2021-12-20 17:29] jsiebert commented on #271
Hey @dkurt,

yes, the training dataset has background as its 0th class. Here's the configuration:
[code]

I've uploaded the PyTorch wights file here: https://1drv.ms/u/s!Atf7EXiTPJ-qiJgtIh-lWxKBUkqwBA?e=3DOypo
The input shape I used for testing is [1, 3, 300, 300].

Here is the image that I used for testing:
![110](https://user-images.githubusercontent.com/13346897/146807251-15292f3a-1beb-419e-ac9

[2021-12-21 14:12] dkurt commented on #271
@jsiebert, thanks for catching this! The thing is that by default, model has some [parameters](https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/torchvision/models/detection/mask_rcnn.py#L159-L160) named `min_size` and `max_size` (800 and 1333 are default values correspondingly ). So in PyTorch inputs are resized to specific input shape at the beginning (see [_resize_

[2021-12-21 17:51] jsiebert commented on #271
Hey @dkurt,

I've applied the workaround you've proposed as well as the fix for the proposals computation. Now inference works like a charm! Eagerly waiting for the final solution to this issue :wink:

[2021-12-22 10:45] jsiebert opened #274 "Converting Mask-RCNN model trained on custom dataset to FP16 format gives error during inference"
Hey there,

I tried to convert the model mentioned in #271 to FP16 format and run inference with that. Converting the model to FP16 seems to work but unfortunately the Inference Engine returns an error when it tries to load the model:
[code]
There are numerous warnings when exporting the model to FP16 format, especially one which is related to the operation **Mul_565** which is also mentioned in t

[2021-12-23 08:27] dkurt commented on #274
Hi! It's known issue that mo_pytorch converter works badly with `--data_type=FP16` (see https://github.com/openvinotoolkit/openvino_contrib/pull/222). Do you need FP16 on GPU? Because for other hardware targets there is no difference for FP32 and FP16 (CPU converts automatically to FP32 and VPU converts to FP16).

[2021-12-23 09:27] azhogov commented on #269
Fixed: https://github.com/openvinotoolkit/openvino_contrib/commit/e17b8e1f91b44f189a0f721ba3c88b45aa22c041

[2021-12-23 09:27] #269 closed

[2021-12-23 09:30] jsiebert commented on #274
Hey @dkurt,

ah, sorry... I haven't seen #222 before. I should have searched more extensively for existing tickets.

My goal is to run this model (and other models in the future) on a MyriadX in an OAK-D camera. As far as I understand the MyriadX documentation, the models work best when converted to FP16. Or have I misunderstood something here?

[2021-12-23 10:26] dkurt commented on #274
@jsiebert, you can use just FP32 model. Myriad plugin converts it to FP16 anyway.

[2021-12-23 10:29] dkurt commented on #269
@azhogov, thanks!

[2021-12-23 12:01] jsiebert commented on #274
Okay, understood! I will close this issue...

Thanks for your support 👍

[2021-12-23 12:01] #274 closed

[2021-12-25 14:22] #247 closed

[2022-01-14 23:28] allnes commented on #220
Hi, I have a question.
When could we expect the release of OpenVINO 2.0 Java API?
Thank you!

[2022-01-19 11:22] dkurt commented on #220
Hi! Sorry for delayed response. We have not prioritized it yet. Am I right that with 2.0 API release, old API will be also available? So Java API won't break in next release.

[2022-01-19 17:22] allnes commented on #220
Yes, it's right, but I know that old api will become as deprecated api. If this case don't affect Java API thaе the issue can to be closed.

[2022-01-19 18:30] dkurt commented on #220
Anyway we need to align Java API with a mew API. @likholat, lat me assign this issue to you.

[2022-02-02 08:57] alvoron opened #304 "PyTorch model conversion failed"
Pytorch model conversion tests are failed in Linux CI:
https://dev.azure.com/openvinoci/dldt/_build/results?buildId=266105&view=logs&j=0609cd82-f9f7-5e70-371c-89fca78031ab&t=1d674d94-b5eb-5999-fed9-1cb906ec0fd4&l=3020

@dkurt @likholat could you please take a look?

[2022-02-02 09:00] dkurt commented on #304
solved by https://github.com/openvinotoolkit/openvino_contrib/pull/302

[2022-02-02 09:10] #304 closed

[2022-02-15 08:48] dkurt opened #314 "Switch PyTorch tests to OpenVINO API 2.0"
Dynamic shapes support now works only with 2.0 API

[2022-02-16 14:17] #314 closed

[2022-02-22 13:23] #220 closed

[2022-03-18 02:41] dukezuoHZ opened #347 "build arm_plugin error on arm64 platform"
I need run openvino on arm64 platform,so i need build openvino and arm_plugin modules of openvino_contrib,but I met a issue when i built it, anyone can help me?

make[2]: *** No rule to make target '/home/duke/openvino_contrib-master/modules/arm_plugin/thirdparty/ComputeLibrary/SConstruct', needed by 'inference-engine/build-modules/arm_plugin/thirdparty/libarm_compute-static.a'.  Stop.
CMakeFiles/

[2022-03-18 06:01] dukezuoHZ commented on #347
sorry,I made a mistake that i didn't  git submodule, but after i do it ,it report another issue:
[code]

[2022-03-23 07:30] dkurt opened #350 "Fix failed Java tests"
https://dev.azure.com/openvinoci/dldt/_build/results?buildId=307827&view=logs&j=0609cd82-f9f7-5e70-371c-89fca78031ab&t=73ab56eb-fe05-59b6-aeb0-ce6e8e3090a3
[code]
[code]

[2022-03-23 09:07] dkurt commented on #347
@dukezuoHZ, can you please clean build folder and retry without `sudo`?

[2022-03-23 14:36] #350 closed

[2022-03-25 10:13] dukezuoHZ commented on #347
thanks dkurt,I can build ok now. because some network error some source didn't download finished.

[2022-03-25 10:13] #347 closed

[2022-03-27 22:33] CameronVetter opened #356 "model conversion failed in mo_pytorch.py for fasterrcnn_resnet50_fpn"
I've trained a model based on Mask-RCNN with a ResNet50 backbone but trained on a custom dataset similar to #271  .  I've attempted to follow the example in https://github.com/openvinotoolkit/openvino_contrib/modules to convert this directly into an openvino model.  My code looks like this:

[code]

Originally I tried this with the latest and greatest versions of PyTorch V 1.11.0+cu102 and TorchVi

[2022-03-28 07:44] dkurt commented on #356
Hi! Can you please share a model so we can reproduce issue locally? Even with randomly initialized weights.

[2022-03-28 13:46] CameronVetter commented on #356
I'm unsure of the best way to share the model in a github issue, so I've uploaded it here: [https://1drv.ms/u/s!AofkugmEOKADh_QZvQU0bWQm2kfOcQ?e=7GxEh9](https://1drv.ms/u/s!AofkugmEOKADh_QZvQU0bWQm2kfOcQ?e=7GxEh9)

This is the exact model I'm using to reproduce this locally.

[2022-03-29 12:26] xlla opened #359 "failure to build arm_plugin with exist computeLibrary libs."
I have built and installed the computeLibrary libs, then pass the ARM_COMPUTE_INCLUDE_DIR and ARM_COMPUTE_LIB_DIR to cmake, it will found arm_compute libs but failure to found targets "arm_compute::xxx".

the build environment is yocto, target is raspberry aarch64 ARCH, here is the snippets of the log:

<pre>
| -- Inference Engine enabled features:
| --
| --     CI_BUILD_NUMBER: custom_releases/20

[2022-03-29 13:05] allnes commented on #359
Hi @xlla
Our plugin used Arm Compute Library from [3rdparty](https://github.com/openvinotoolkit/openvino_contrib/tree/master/modules/arm_plugin/thirdparty) directory.
Set `ARM_COMPUTE_INCLUDE_DIR` and `ARM_COMPUTE_LIB_DIR` don't require.

[2022-03-29 15:48] dkurt commented on #356
@CameronVetter, Currently module does not support TorchScript models conversion, so can you please try this code?

[code]
I used PyTorch 1.9.1 and Torchvision 0.10.0

[2022-03-29 15:52] #219 closed

[2022-03-29 20:24] CameronVetter commented on #356
Thank you, that example worked well.  I will just skip TorchScript in the future, I did not realize that was unsupported.

[2022-03-30 07:08] xlla commented on #359
Hi @allnes , I have read it, because Scons build script for compute library is hardly to run on yocto, so it will failure be built by openvino_contrib's 3dparty build task insider openvino's build task.

And I have fix it in my fork.

[2022-03-30 07:08] #359 closed

[2022-03-30 07:20] xlla opened #361 "why arm_plugin does not install itself after being build?"
I have built openvino with openvino_contrib successful,  after install the inference-engine to my device, it complain libarmPlugin.so can't be found.

<pre>
rpi4:~$ python3 test/test-opencv-dnn-cpu.py
[INFO] loading model...
use dnn target cpu...
Traceback (most recent call last):
  File "test/test-opencv-dnn-cpu.py", line 25, in <module>
    preds = net.forward()
cv2.error: OpenCV(4.5.3-openvino)

[2022-03-30 10:54] alvoron commented on #361
@xlla thank you for raising the question.
Could you please point to commented \ deleted lite of code you're referring to?

What contrib branch do you use - master or any release?

[2022-04-13 02:06] latermarch opened #370 "error: unknown target CPU 'armv8.2-a+fp16'"
hello,when compile the project  in m1 machine,i got the errors below:
I pull the master branch of openvino and openvino_contrib in 2022/04/12
- mac mini(M1 2020)
- big sur(11.5.1)

[code]

[2022-04-21 03:04] cslxiao opened #372 "arm_plugin compile error"
/usr/bin/ld: ../thirdparty/libarm_compute-static.a(CPPScheduler.o): in function `arm_compute::(anonymous namespace)::Thread::Thread(int)':
CPPScheduler.cpp:(.text._ZN11arm_compute12_GLOBAL__N_16ThreadC2Ei+0x78): undefined reference to `pthread_create'
/usr/bin/ld: CPPScheduler.cpp:(.text._ZN11arm_compute12_GLOBAL__N_16ThreadC2Ei+0x88): undefined reference to `pthread_create'
collect2: error: ld re

[2022-05-09 12:53] alexein777 opened #374 "openvino build fails for python onnx"
I followed the recommended (cross-compiling) build guide and docker image gets created successfully on Raspberry Pi 4 (Raspbian Buster OS). However, when I run

mkdir build
docker container run --rm -ti -v $PWD/build:/arm_cpu_plugin arm-plugin

while building openvino I get the following error:

    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -u -c 'import sys, se

[2022-05-17 14:32] andriyrizhiy opened #375 "Use arm with python"
Hi! I want to build and use openvino in mac os with m1 CPU. So, I use this instruction: https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin. After building i run setupvars.sh in install_ie folder. But it is not founded python:
[code]
Сan anyone help with this?

[2022-05-24 16:06] adrianboguszewski commented on #372
If you see this error, please edit your CMakeCache.txt file and add -pthread flag to CMAKE_MODULE_LINKER_FLAGS

`CMAKE_MODULE_LINKER_FLAGS:STRING=-pthread`

[2022-08-05 03:02] alex-ht opened #397 "softmax with opset8 is not supported"
Hi, I'm trying to convert a keras model which has CNN2d + Softmax layer at output.
It works fine on Intel CPU, but I got an error at arm64 platform
[code]
Version:
- releases/2022/1
- Dockerfile.RPi64_focal

Model:
- [xml](https://drive.google.com/file/d/1pH2mRuCEHFDJxg0VGug2oP46ooumKu6f/view?usp=sharing)

[2022-08-05 07:11] alex-ht commented on #397
I found a workaround!
The original xml has a `version="opset8"` attribute and `<data axis="-1"/>`like this
[code]
change it to `"opset1"` and give `axis` a positive index value.
[code]

[2022-08-08 01:08] #397 closed

[2022-08-12 14:56] xuanqing94 opened #398 "Demo for Java API v2.0?"
Hi, thanks for the great work of Java API. I am able to follow the examples in compatibility mode. But since it is deprecated, could you also provide some examples in API 2.0? Right now I only see some simple usages under unit test folder.

[2022-08-18 06:47] dkurt commented on #398
Hi! You may find this useful: https://github.com/dkurt/qupath-extension-openvino/blob/main/src/main/java/qupath/ext/openvino/OpenVINOBundle.java.

@likholat, can you please handle this issue and update Java samples?

[2022-08-29 10:06] MdScntst opened #412 "Slow model execution (aarch64)"
Hello. I'm trying to figure out why IR model executes much slower (up to 5-6 times) than  .onnx version (using onnxruntime backend).
HW: CPU rockchip rk3399. The model was converted using --use_legacy_frontend flag, overwise [Node input index is out of range](https://github.com/openvinotoolkit/openvino/issues/12476)
Sample code is attached.
[Samples.zip](https://github.com/openvinotoolkit/openvino

[2022-09-03 08:02] IRONICBo opened #420 "[Java API 2.0]GetCore: Failed to find plugins.xml file in arm Android application."
Hello, When I use Java API 2.0 `new Core()` in android application, It seems that the application went wrong and shows that it can't find the plugins.xml file in my application.

That means I need to load the `plugins.xml` file to specific  path?

[code]

[2022-09-03 08:22] IRONICBo commented on #420
The old Java API 1.0 `IECore()` support to get plugins.xml from config，but the new API can not read the plugins.xml in `Core()`.

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/47499836/188262516-7c33e535-a154-443f-869b-91b2ea53edc0.png">

So in Android app, It is hard to  move the plugins.xml to arm64-v8a folder.

[2022-09-05 11:58] dkurt commented on #398
Please take a look at updated sample https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/java_api/samples/face_detection_java_sample

[2022-09-05 12:02] dkurt opened #423 "[Java] Generate documentation for Java bindings"
For example, OpenCV: https://docs.opencv.org/4.x/javadoc/index.html

[2022-09-06 10:34] dkurt commented on #423
Example for OpenVINO: https://openvino-java.readthedocs.io/

test branch: https://github.com/dkurt/openvino_contrib/tree/java_docs

[2022-09-07 13:38] IRONICBo commented on #420
Thanks for your PR, I have build the latest version of java api, but the `GetCore1()` function has been implemented in latest openvino? I use the new java api, but it show that the jni function can not find the right function.

[code]

[2022-09-07 16:56] likholat commented on #420
Please, make sure that:

1. you use the `master` branch of `openvino_contrib`
2. your fork is synced (my PR was merged today)
3. you didn't forgot to restart `openvino` build with uptated `openvino_contrib` branch:
[code]

[2022-09-08 16:26] IRONICBo commented on #420
Thanks, I have updated the openvino branch and rebuilt them, it worked well.

[2022-09-08 16:26] #420 closed

[2022-09-12 12:42] dkurt opened #428 "[ARM plugin] Unsupported Slice configuration"
Wav2Vec is audio recognition model. IR generated for PyTorch model from https://huggingface.co/anton-l/wav2vec2-base-ft-keyword-spotting

xml: https://drive.google.com/file/d/1398EKT21lldoYABaPzo9P6Okj7NaY8Ov/view?usp=sharing
bin: https://drive.google.com/file/d/1hshvJGYmn1q714T7JSpVUHwdaXPqDPiX/view?usp=sharing

[code]

Seems to me, problem with a Slice layer.
[code]

[2022-09-13 07:15] dkurt commented on #428
With `--use_legacy_frontend` model is compiled but there is an accuracy problem.

ONNX model: https://drive.google.com/file/d/10xXdXNk_AD9_X8BPSjk-P-pgRJzZl3Oi/view?usp=sharing
Test data: https://drive.google.com/file/d/1joc6OdO2uFWbduHLawuBsGc2NS3x4TAt/view?usp=sharing

test script:
[code]
Output:

x86 CPU (correct):
[code]
ARM CPU (wrong):
[code]

[2022-09-13 15:11] YaroslavSchubert opened #429 "Unable to cross-compile ARM plugin for RPI Buster - `fail 12 OpenVINO build failed`"
Hi :wave: I'm trying to cross-compile the ARM CPU plugin for Raspberry Pi Buster 32-bit using this tutorial [https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin#approach-1-build-opencv-openvino-and-the-plugin-using-pre-configured-dockerfile-cross-compiling-the-preferred-way](https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin#approa

[2022-09-13 17:14] ilya-lavrenov commented on #429
Please, provide the actual error message. From the logs we can just see that build fails, but don't see the reason

[2022-09-13 17:27] YaroslavSchubert commented on #429
oh, sorry, let me get back to you with the error message.

[2022-09-13 17:54] venki-thiyag opened #430 "Use static library with onnxruntime build"
I have built static library of OpenVino using the following command:

`cmake -DENABLE_IR_V7_READER=OFF -DENABLE_ONEDNN_FOR_GPU=OFF -DBUILD_SHARED_LIBS=OFF -DCMAKE_TOOLCHAIN_FILE=../cmake/toolchains/mt.runtime.win32.toolchain.cmake -G "Visual Studio 16 2019" -A x64 -DCMAKE_BUILD_TYPE=Release ..
`
and

`cmake --build . --target openvino --config Release -j12`

I have the output libs in <openvino_src

[2022-09-13 21:00] ilya-lavrenov commented on #430
Hi,

The guide how to build and use static libraries is here https://github.com/openvinotoolkit/openvino/wiki/StaticLibraries#build-static-openvino-libraries. The procedure is simple and the same as for dynamic libraries:
1. Build OV
2. Install
3. Build another app against static / dynamic libraries

Once more about installation from common build pipeline https://github.com/openvinotoolkit/openvin

[2022-09-14 13:29] YaroslavSchubert commented on #429
Error message:

[code]

[2022-09-14 13:56] ilya-lavrenov commented on #429
Please, add `cmake -DENABLE_REQUIREMENTS_INSTALL=OFF` to other build options.
We have to fix the behavior, thanks for the bug-report

[2022-09-15 14:44] YaroslavSchubert commented on #372
Thanks, worked for me.

[2022-09-15 15:11] YaroslavSchubert commented on #429
I added   to `arm_cpu_plugin_build.sh` script like this
[code]
but still got the error.

Please, let me know if I'm doing something wrong.

[2022-09-15 17:56] ilya-lavrenov commented on #429
Please, provide error message.
The original error message should have gone.

[2022-09-15 19:17] YaroslavSchubert commented on #429
[code]

[2022-09-15 21:12] ilya-lavrenov commented on #429
Install requirements from file https://github.com/openvinotoolkit/openvino/blob/master/src/frontends/onnx/tests/requirements.txt:
[code]

[2022-09-15 21:28] ilya-lavrenov commented on #429
I can suggest to turn of ONNX frontend using `-DENABLE_OV_ONNX_FRONTEND=OFF`
It turned out that ONNX is not available for armv7l (see https://pypi.org/project/onnx/1.11.0/#files), while OV build tries to use such module unconditionally.

[2022-09-16 06:30] ilya-lavrenov commented on #429
UPDATE:
I had a look once again to the issue, since you are using cross-compilation - what is the architecture?
If it's x86_64 I suppose onnx can be installed.

In any case - there is a fix with check for ONNX first before its usage https://github.com/openvinotoolkit/openvino/pull/13069

[2022-09-16 11:18] #429 closed

[2022-09-16 14:29] YaroslavSchubert commented on #429
Yes, it's x86_64.
Thank you.

[2022-09-21 13:35] YaroslavSchubert opened #433 "RuntimeError: Arm Plugin: Nodes from torch_jit are not supported"
Hi!
I'm trying to run openvino object_detection python sample with the [nanodet-plus](https://docs.openvino.ai/nightly/omz_models_model_nanodet_plus_m_1_5x_416.html) model on Raspberry Pi 4 using the arm_cpu plugin and getting the following error:

[code]
I was able to run the model after converting it using `omz_converter --add_mo_arg=--use_legacy_frontend` command but the inference speed is very

[2022-09-26 16:32] alvoron commented on #428
Hi @dkurt
Thank you for you feedback!

It seems we could support Slice operation natively, since it's presented in ACL: https://arm-software.github.io/ComputeLibrary/latest/classarm__compute_1_1_n_e_slice.xhtml

We'll plan to support Slice.

[2022-09-28 19:15] #423 closed

[2022-09-29 09:33] #372 closed

[2022-09-29 09:37] alvoron commented on #375
@andriyrizhiy the instruction you're referring to has been significantly changed recently.
Could you please try a new version of instructinon?

Be the way, python environment is required only if you need to develop python applications. If you develop or run C++ applications you may skip this warning.

[2022-09-29 09:39] alvoron commented on #370
The instruction how to build the plugin on M1 has been changed recently: https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin#building-for-macos
Could you please try it?

[2022-09-29 09:41] alvoron commented on #430
@venki-thiyag did the suggestion provided by Ilya help you?

[2022-09-29 09:42] alvoron commented on #398
@xuanqing94 does this sample work to you?

[2022-09-29 09:43] #361 closed

[2022-09-29 09:49] alvoron commented on #374
@alexein777
What OS do use use on Raspberry? Could you please try to install pybinf11 package from system repository?
If you're using Ubuntu the command is `apt-get install python-pybind11`

[2022-09-29 09:58] alvoron commented on #412
@MdScntst could you please set `_dump` variable to `true` on this line: https://github.com/openvinotoolkit/openvino_contrib/blob/9d729cf0f9e73aa318b38af408b6c385a5300dc6/modules/arm_plugin/src/transformations/arm_optimizations.hpp#L21
then infer the network and share *.dot files generated by the plugin with us (it you have a right to share the network) or analyze it by yourself via graphviz tool.

[2022-09-29 15:39] xuanqing94 commented on #398
I haven't given a try but it looks good. I wrote something similar in my own codebase last month.

[2022-09-29 15:39] #398 closed

[2022-10-10 07:28] mio903061 opened #440 "ImportError: libpython3.7m.so.1.0: cannot open shared object file"
Hi!
I was trying to inference with ARM CPU and follow the step of [Building ARM CPU plugin with LINUX](https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin#building-for-linux).

However, when I try to build a Docker image with `docker image build -t arm-plugin -f dockerfiles/Dockerfile.RPi64_focal .` , I faced the error

### Error
[code]

### My environment is
Raspb

[2022-10-13 09:08] venki-thiyag commented on #430
Yes, I was able to build static version of OpenVino, but we have changed strategy to use dynamic version itself. Thanks for the support.

[2022-10-13 09:08] #430 closed

[2022-10-16 18:52] ilya-lavrenov commented on #440
Hi @mio903061
I've updated build process and dockerfiles. Could you please try this PR https://github.com/openvinotoolkit/openvino_contrib/pull/447?
[code]
And all others as usual

[2022-10-16 18:55] ilya-lavrenov commented on #370
@latermarch you are building on x86 OSX. In order to compile ARM plugin on OSX, you additionally have to add `-DCMAKE_OSX_ARCHITECTURES=arm64` to cmake options.

[2022-10-16 18:58] ilya-lavrenov commented on #374
@alexein777 from the logs it seems that you are building with system protobuf (OpenVINO's cmake option `-DENABLE_SYSTEM_PROTOBUF`), is there any need in it? System static protobuf library is compiled without `-fPIC` and cannot be used with OpenVINO.
Also, have you used docker files from https://github.com/openvinotoolkit/openvino_contrib/tree/master/modules/arm_plugin/dockerfiles to build docker i

[2022-10-17 11:07] #440 closed

[2022-10-18 16:26] mio903061 opened #449 "CMake Error: The source directory "/arm_cpu_plugin/opencv" does not exist."
Hi!
I was trying to inference with ARM CPU and follow the step of [Building ARM CPU plugin with LINUX](https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin#building-for-linux).

I successfully built docker image and but when I try to build the plugin in Docker container with  `docker container run --rm -ti -v $PWD/build:/arm_cpu_plugin arm-plugin` below

![image](ht

[2022-10-18 18:45] ilya-lavrenov commented on #449
Hi @mio903061

Could you please try to run docker container and then use build script manually?
E.g.
[code]
If you don't really need OMZ or OpenCV, I recommend going this way.

BTW, here is a fix for this specific problem https://github.com/openvinotoolkit/openvino_contrib/pull/450

[2022-10-18 20:43] ilya-lavrenov opened #451 "Address vulnerability issues in NVIDIA tests requirements"
See https://github.com/openvinotoolkit/openvino_contrib/security/dependabot
**Urgency: high**

[2022-10-20 08:10] dkurt opened #454 "Add ReadTheDocs app to trigger documentation builds"
Hi! Recently ReadTheDocs was added for Java bindings. But it requires installed app to trigger builds.

[2022-10-24 11:46] lohika-denis-kotov commented on #451
Done in https://github.com/openvinotoolkit/openvino_contrib/pull/459

[2022-10-25 08:22] #451 closed

[2022-10-26 21:27] #370 closed

[2022-10-26 21:27] #375 closed

[2022-10-26 21:29] #374 closed

[2022-10-26 21:29] #271 closed

[2022-11-15 15:08] dmitryermilov commented on #428
With PR #480, arm64 produces:
[code]

[2022-11-16 08:50] #428 closed

[2022-11-18 06:26] mzwtjp opened #472 "arm_plugin RuntimeError: [ NOT_FOUND ] : PERFORMANCE_HINT"
I am trying arm_plugin (branch releases/2022/2) on Jetson Nano and seeing this error.
This plugin is seen as "CPU" device, so I specified "-d CPU" to benchmark_app command line, and but it trminates with this error.

I am new to OpenVINO and its arm_plugin, so I am not sure if this error expected or anythong is wrong in my build.

Though it is not part of the core openvino distribution, I was seei

[2022-11-21 04:43] mzwtjp commented on #472
Closing for now.

Just tried again building bits from 2022/2 branch.
As I can see, here lack of -hint support is reported as warning and does not terminate the benchmark_app.

[2022-11-21 04:43] #472 closed

[2022-11-21 11:35] dgurulev commented on #428
With #473 we have result for mentioned [test data](https://drive.google.com/file/d/1joc6OdO2uFWbduHLawuBsGc2NS3x4TAt/view?usp=sharing)
`-0.187376 -0.857422 0.599577 -1.00753 0.591569 -1.41945 -1.16889 0.599557 5.81516 0.357172 0.113763 -1.51495`
on _aarch64_. These results matched w/ results we have on ARM if use _--use_legacy_frontend_

[2022-11-26 15:16] ilya-lavrenov opened #479 "Migrate to ARM Compute 2022.11 version"
[code]
So, we can integrate Swish and GELU

Link https://github.com/ARM-software/ComputeLibrary/releases/tag/v22.11

[2022-11-28 11:42] mzwtjp opened #480 "arm_plugin OpenCL supoprt?"
I have ARM target where OpenCL exposes GPU, and I wonder what is the shortest way of using it so that I can run my demos faster, even without NCS2(MYRIAD) devices.
Currently arm_plugin (CPU) is the only option, but it is very slow compared to NCS2.

arm_plugin uses ARM Compute Library, and ACL could be configured to be using OpenCL (via opencl=1 flag to its scons build command), but it does not me

[2022-11-28 13:54] vladimir-paramuzov commented on #480
Hi @mzwtjp,

intel_gpu plugin may be used for other GPUs with OCL support indeed. Here you can find a very early draft of a patch that introduces more careful intel extensions usage: https://github.com/openvinotoolkit/openvino/pull/13926

This patch introduces 2 key things:
- a mechanism that allows kernel to specify which extensions are required for it in order to have proper kernel selection if

[2022-11-28 20:55] #479 closed

[2022-11-30 02:53] mzwtjp commented on #480
Thank you very much for your comment.

I tried building intel_gpu for my ARM target, and succeeded to make it recognized by inference engine (listed in available devices list).
I can see unerlaying OpenCL codes are actually called.

Learned IE is reading plugins.xml and doing checks on each plugin listed.

Of course, I am seeing errors related to reorder or get_sub_group_local_id, etc. when try to

[2022-11-30 10:42] ilya-lavrenov commented on #480
@mzwtjp please, feel free to make some changes in GPU OpenCL plugin if you managed to make some fixes to issues you've described.